/* Animation: Fade-In */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

/* Animation: Slide-In */
@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideIn 0.8s ease-in-out;
}

/* Hover effects for buttons and images */
.btn:hover, .profile-image-sm:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

#player-info-panel:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}
